<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard </title>


</head>

<body>

    <div class="container">
        <h1>Welcome {{ user.first_name }} | Dashboard Home </h1>
        <a href="logout" class="btn btn-warning ml-3 float-right">Log Out Now</a>
        <a href="create_event" class="btn btn-success mr-3  float-right">Add New Event </a>

    </div>
</body>

</html>